mixin ss(ss, _action)
	- var action = _action === undefined ? 'read-later' : _action;
	article.ss(tabindex='0', data-id= ss.id, data-is-favorited='false')
		header
			div.title
				a(href= config.url + '/' + ss.id)
					h1= ss.title
					span.posts= '(' + ss.posts.length + ')'
				button.favorite(data-tooltip='お気に入りに登録')
					i.fa.fa-heart
			div.info
				div.series
					p.caption
						i.fa.fa-folder-open
					if ss.series.length == 0
						span.unknown 不明
					else if ss.series.length == 1
						a.title(href= config.urls.series + '/' + ss.series[0].id)= ss.series[0].title
					else
						each series in ss.series
							a.title(href= config.urls.series + '/' + series.id)= series.title
						span.is-cross
							| (クロス)
				if ss.characters.length > 0
					div.characters
						p.caption
							i.fa.fa-users
						ul
							each chara in ss.characters
								li: a(href= config.urls.character + '/' + chara.profile.id,
									title= chara.profile.name + ' (' + chara.profile.kana + ')',
									style={
										color: chara.profile.color,
										'font-size': 50 + (chara.onStageRatio / ss.characters[0].onStageRatio * 50) + '%'
									})= chara.profile.screenName
					div.characters-ratio
						each chara in ss.characters
							span(style={
								background: chara.profile.color,
								opacity: chara.onStageRatio / ss.characters[0].onStageRatio,
								width: (Math.round((chara.onStageRatio * 100) * 10) / 10) + '%'
							})
			div.actions
				case action
					when 'read-later'
						button.read-later(data-tooltip='あとで読む'): i.fa.fa-clock-o
					when 'remove-from-read-laters'
						button.remove-later(data-tooltip='「あとで読む」から削除'): i.fa.fa-minus
		div.body
			div.text!= ss.posts[0].html
		footer
			a.more(href= config.url + '/' + ss.id)
				| 続きを読む
				i.fa.fa-ellipsis-h
			div.status
				p.views(title='読まれた数')
					i.fa.fa-eye
					span.count= ss.views.length
				p.comments(title='コメントの数')
					i.fa.fa-comments
					span.count= ss.commentsCount
				p.favorites(title='お気に入り数')
					i.fa.fa-heart
					span.count= ss.favoritesCount
