extend ../../../ui
include ../../../common/ss-preview

block title
	= series.title + ' - SSまとめ'

block meta
	- var summary = series.description;
	meta(name='keywords', content='SS, SSまとめ, ' + series.title + ', ' + series.aliases.join(','))
	meta(name='description', content= summary)
	meta(property='og:title', content=series.title)
	meta(property='og:type', content='article')
	meta(property='og:description', content= summary)
	meta(property='og:url', content= config.url)
	meta(property='og:image', content= config.urls.resources + '/logo.jpg')
	meta(property='og:site_name', content='SSまとめ')
	meta(property='twitter:card', content='summary')
	meta(property='twitter:site', content='@syuilo')
	meta(property='twitter:title', content=series.title)
	meta(property='twitter:description', content= summary)
	meta(property='twitter:image', content= config.urls.resources + '/logo.jpg')
	meta(property='twitter:url', content= config.url)

block contents
	main
		article#profile
			div.container
				img.img(src= config.urls.image + '/series/' + series._id, alt='')
				div.main
					header
						h1
							ruby
								= series.title
								rt= series.kana
					div.body
						div.description= series.description
		div#characters
			div.container
				ul
					each character in characters
						li: a(href= config.urls.characters + '/' + character._id): div
							img.img(src= config.urls.image + '/character/' + character._id + '/icon', alt='')
							p
								if character.ruby == null
									ruby
										= character.name
										rt= character.kana
								else
									!= character.ruby
		div.sss
			each ss in sss
				+ss(ss)
