extend ../../main

block title
	if login
		= ss.title
	else
		= ss.title + ' - SSまとめ'

block meta
	meta(name='keywords', content='SS, SSまとめ')
	meta(name='description', content= summary)
	meta(property='og:title', content= ss.title + ' - SSまとめ')
	meta(property='og:type', content='article')
	meta(property='og:description', content= summary)
	meta(property='og:url', content= config.url + '/' + ss.id)
	meta(property='og:image', content= config.urls.resources + '/logo.jpg')
	meta(property='og:site_name', content='SSまとめ')
	meta(property='twitter:card', content='summary')
	meta(property='twitter:site', content='@syuilo')
	meta(property='twitter:title', content= ss.title + ' - SSまとめ')
	meta(property='twitter:description', content= summary)
	meta(property='twitter:image', content= config.urls.resources + '/logo.jpg')
	meta(property='twitter:url', content= config.url + '/' + ss.id)

block assets
	script(src='https://apis.google.com/js/platform.js', async, defer).
		{lang: 'ja'}

block content
	article
		div.ss(data-id= ss._id.toString(), data-is-favorited='false')
			header
				div.title
					h1= ss.title
					span.count= ss.posts.length
					button.favorite(data-tooltip='お気に入りに登録')
						i.fa.fa-heart
				
				div.info
					div.top
						span.pages
							= ss.pagesCount
							| ページ
						span.separator ・
						span.time
							| 読むのに必要な時間: およそ
							= ss.readingTimeMinutes
							| 分
						div.status
							p.views
								i.fa.fa-eye
								span.count= ss.views.length
							p.comments
								i.fa.fa-comments
								span.count= ss.commentsCount
							p.favorites
								i.fa.fa-heart
								span.count= ss.favoritesCount
					div.bottom
						div.series
							p.caption
								i.fa.fa-folder-open
							if ss.series.length == 0
								span.unknown 不明
							else if ss.series.length == 1
								a.title(href= config.urls.series + '/' + ss.series[0].id, title=ss.series[0].kana)= ss.series[0].title
							else
								each series in ss.series
									a.title(href= config.urls.series + '/' + series.id, title=series.kana)= series.title
								span.is-cross
									| (クロス)
						
						if ss.characters.length > 0
							div.characters
								p.caption
									i.fa.fa-users
								ul
									each chara in ss.characters
										li: a(href= config.urls.characters + '/' + chara.id.id,
											title= chara.id.name + ' (' + chara.id.kana + ')',
											style='color:' + chara.id.color)= chara.id.screenName
					if ss.characters.length > 0
						div.on-stage-ratio
							each chara in ss.characters
								a(href= config.urls.characters + '/' + chara.id.id,
									data-tooltip= chara.id.name + ' ' + (Math.round((chara.onStageRatio * 100) * 10) / 10) + '%',
									style={
										background: chara.id.color,
										opacity: chara.onStageRatio / ss.characters[0].onStageRatio,
										width: (Math.round((chara.onStageRatio * 100) * 10) / 10) + '%'
									})
			
				button.read-later(data-tooltip='あとで読む'): i.fa.fa-clock-o
				
			div.body
				p.filter
					span.caption
						i.fa.fa-filter
						| フィルター:
					if filterMode == 'auto'
						span.mode.active 自動
					else
						a.mode(href= config.urls.api + '/set-filter?mode=auto&callback=' + url) 自動
					if filterMode == 'master'
						span.mode.active 本文だけ
					else
						a.mode(href= config.urls.api + '/set-filter?mode=master&callback=' + url) 本文だけ
					if filterMode == 'none'
						span.mode.active なし
					else
						a.mode(href= config.urls.api + '/set-filter?mode=none&callback=' + url) なし

				div.share
					span.twitter.
						<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					span.google-plus.
						<div class="g-plus" data-action="share" data-annotation="bubble"></div>
					span.line.
						<span>
						<script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
						<script type="text/javascript">
						new media_line_me.LineButton({"pc":true,"lang":"ja","type":"a"});
						</script>
						</span>

				div.ad.
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- ss-top -->
					<ins class="adsbygoogle"
					 style="display:inline-block;width:728px;height:90px"
					 data-ad-client="ca-pub-3738125028983387"
					 data-ad-slot="1822381352"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>

				div.posts
					style!= ss.htmlStyle
					each post in posts
						s-p(id= post.number)
							s-h
								a(href= '#' + post.number)= post.number
								h2= post.user.name
								time= post.createdAtStr
								b(style='background:' + post.user.bg + ';color:' + post.user.fg)= post.user.id
							s-b!= post.html

			footer
				small.source
					| 元スレッド
					a(href= ss.url, target='_blank')= ss.url
